/* This is only used to make the table beautiful.Without this styling makes the table ugly.This is not for you.these things will be explained for you after some video folders.Stay tunned (^_^)... */
:root{
    --border: 2px solid green;
}
.tab1{
    border: var(--border);
}
.tab2{
    border: var(--border);
}
.tab3{
    border: var(--border);
}
.divas100{
    text-align: center;
    color: blue;
    background-color: yellow;
    border: 2px solid yellow;
}
.sdg{
    border: var(--border);
}
table tr th{
    border: var(--border);
}
table tr td{
    border: var(--border);
}
table{
    border: var(--border);
}
caption{
    display: inline-block;
}
